[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
tensorflow = "*"
pydantic-settings = "*"
matplotlib = "*"
scikit-learn = "*"

[dev-packages]
isort = "*"
black = "*"

[requires]
python_version = "3.11"
