[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
pydantic-settings = "*"
scikit-learn = "*"
tensorflow = {extras = ["and-cuda"], version = "==2.16.1"}
matplotlib = "*"
psutil = "*"

[dev-packages]
isort = "*"
black = "*"

[requires]
python_version = "3.11"
